<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{url_for('static', filename='styles.css')}}" rel="stylesheet">
  <script src="{{url_for('static', filename='scripts.js')}}"></script>
</head>
<body class="bg-white">
    <nav class="navbar" id="navbar">
        <p class="navbar-link navbar-heavy">Add an element:</p>
        {% for element in element_names %}
        <a href="#" class="navbar-link navbar-regular" onclick="loadHTML('static/elements/{{ element }}.html')">{{ element }}</a>
        {% endfor %}

        <!-- <a href="#" class="navbar-link navbar-right navbar-light">Settings</a> -->
        <a href="#" class="navbar-link navbar-right navbar-heavy disabled" onclick="postData()" id="create">Create PDF</a>
        <a href="/download" class="navbar-link navbar-right navbar-heavy hidden" target="_blank" id="download">Download PDF</a>
    </nav>
    <div id="container" class="m-0 p-0">
        <!-- Container for all elements -->
    </div>
</body>
</html>
